# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
target
.generated
.jsweet
.ts
www/js/app
plugins/cordova-plugin-whitelist/
/bin/
